github "MatiBot/MBCircularProgressBar"
github "Daltron/NotificationBanner" "master"
github "WenchaoD/FSCalendar"

## firebase
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"